<div class="card text-left">
    <img class="card-img-top" [src]="recipe.image" alt="">
    <div class="card-body">
        <h4 class="card-title">{{ recipe.name }}</h4>
        <p class="card-text">{{ recipe.description }}</p>
    </div>
    <div>
        <form class="m-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="amount" name="amount" class="form-control" placeholder="amount" aria-describedby="helpId">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ml-3">
                        <button class="btn btn-success" (click)="addAmount()">add to shopping</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>