<app-navbar (pageType)="pageType = $event"></app-navbar>
<div class="container mt-4">
    <app-recipe-list (selectedRecipe)="addToShopping($event)" *ngIf="pageType=='recipe'"></app-recipe-list>
</div>
<div class="container mt-4">
    <app-shopping-list *ngIf="pageType=='shopping'"></app-shopping-list>
</div>
<p appHighLight>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eveniet illo ab blanditiis quia eaque, odit temporibus at accusantium suscipit, reprehenderit omnis adipisci quos eum modi excepturi perspiciatis repellat sint.</p>
<p appBetterHighLight [color]="'#000'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eveniet illo ab blanditiis quia eaque, odit temporibus at accusantium suscipit, reprehenderit omnis adipisci quos eum modi excepturi perspiciatis repellat sint.</p>